{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}

    <div class="container">
        <div class="col-6">
            <h1>Forgot your password?</h1>
            <p><span><i class="bi bi-arrow-down-square-fill"></i></span> Enter your email address and will email instruction settings for new one.</p>
            <form action="" method="post">
                {% csrf_token %}
                {{form|crispy}}
                <br>
                <button type="submit" class="btn btn-success">Reset</button>
            </form>
        </div>
    </div>

{% endblock content %}